.input {
  color: #fff;
  width: 250px;
  padding: 5px 10px;
  height: 30px;
  border-radius: 10px;
  background: #024682;
  border: 2px solid #024682;
  outline: none;
  transition: 0.1s;
}

.input:focus {
  border: 2px solid #61a1e1;
  outline: none;
}

.input::placeholder {
  color: #f8f8f8;
}
